<header id="page-header" class="page-header page-header--full section">
    <nav class="page-navigation">
        <ul class="navigation-list">
            {% for link in site.data.navigation %}
                <li class="{{ link.cssClass }}{% if page.url == link.url %} active{% endif %}">
                    {% if link.cssClass == 'nav-item' %}
                        <a href="{{ link.url }}">
                            {{ link.title }}
                        </a>
                    {% elsif link.cssClass == 'nav-logo' %}
                        <a href="{{ link.url }}" aria-label="{{ link.title }}">
                            {{ link.content }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% include carousel.liquid %}
</header>
