{% if page.galleries %}
    <div class="row page-tools">
        <div class="col col--full">
            <div class="page-tools__wrapper">
                <a href="#" class="button button--blue back-button">Tillbaka</a>
                <div id="shutter-sound-toggle-wrapper" class="shutter-sound-toggle-wrapper">
                    <label class="switch">
                        <input type="checkbox" id="shutter-sound-toggle">
                    </label>
                    <label class="switch-label">Kameraljud</label>
                </div>
            </div>
        </div>
    </div>
    {% for gallerySlug in page.galleries %}
        {% assign gallery = site.data.galleries[gallerySlug] %}
        <div class="row">
            <div class="col col--full card card--shadow">
                <div class="card__body">
                    {% if gallery.contents %}
                        {% assign photos = gallery.contents %}
                        <div class="photo-gallery">
                            {% for photo in photos %}
                                {% capture photo_width %}{{ photo.width | times: 1.0 }}{% endcapture %}
                                {% capture photo_height %}{{ photo.height | times: 1.0 }}{% endcapture %}
                                {% capture ratio_height %}{{ photo_height | divided_by: photo_width | times: 100 }}{% endcapture %}
                                <div class="photo" style="background-image: url({{ site.baseurl }}/assets/photos/galleries/{{ gallerySlug }}/{{ photo.filename }}); padding-bottom: {{ ratio_height }}%;">
                                    <a href="#" class="photo__data-trigger">
                                        <svg version="1.1" class="camera-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                            <g>
                                                <path class="camera-icon__path" d="M50,40c-8.285,0-15,6.718-15,15c0,8.285,6.715,15,15,15c8.283,0,15-6.715,15-15
                                                    C65,46.718,58.283,40,50,40z M90,25H78c-1.65,0-3.428-1.28-3.949-2.846l-3.102-9.309C70.426,11.28,68.65,10,67,10H33
                                                    c-1.65,0-3.428,1.28-3.949,2.846l-3.102,9.309C25.426,23.72,23.65,25,22,25H10C4.5,25,0,29.5,0,35v45c0,5.5,4.5,10,10,10h80
                                                    c5.5,0,10-4.5,10-10V35C100,29.5,95.5,25,90,25z M50,80c-13.807,0-25-11.193-25-25c0-13.806,11.193-25,25-25
                                                    c13.805,0,25,11.194,25,25C75,68.807,63.805,80,50,80z M86.5,41.993c-1.932,0-3.5-1.566-3.5-3.5c0-1.932,1.568-3.5,3.5-3.5
                                                    c1.934,0,3.5,1.568,3.5,3.5C90,40.427,88.433,41.993,86.5,41.993z"/>
                                            </g>
                                        </svg>
                                    </a>
                                    <div class="photo__data">
                                        {% if photo.title %}
                                            <h4 class="photo__title data__post">
                                                "{{ photo.title }}"
                                            </h4>
                                        {% endif %}
                                        {% comment %} {% if photo.date %}
                                            <div class="data__post">
                                                <span class="label">Datum</span>
                                                <span class="value">{{ photo.date | date: "%Y-%m-%d" }}</span>
                                            </div>
                                        {% endif %} {% endcomment %}
                                        {% if photo.camera %}
                                            <div class="data__post">
                                                <span class="label">Kamera</span>
                                                <span class="value">{{ photo.camera }}</span>
                                            </div>
                                        {% endif %}
                                        {% comment %} {% if photo.lens %}
                                            <div class="data__post">
                                                <span class="label">Objektiv</span>
                                                <span class="value">{{ photo.lens }}</span>
                                            </div>
                                        {% endif %} {% endcomment %}
                                        {% if photo.focal %}
                                            <div class="data__post">
                                                <span class="label">Brännvidd</span>
                                                <span class="value">{{ photo.focal }}mm</span>
                                            </div>
                                        {% endif %}
                                        {% if photo.shutter %}
                                            <div class="data__post">
                                                <span class="label">Slutartid</span>
                                                <span class="value">{{ photo.shutter }}</span>
                                            </div>
                                        {% endif %}
                                        {% if photo.aperture %}
                                            <div class="data__post">
                                                <span class="label">Bländare</span>
                                                <span class="value">f/{{ photo.aperture }}</span>
                                            </div>
                                        {% endif %}
                                        {% if photo.iso %}
                                            <div class="data__post">
                                                <span class="label">ISO</span>
                                                <span class="value">{{ photo.iso }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a href="{{ site.baseurl }}/assets/photos/galleries/{{ gallerySlug }}/{{ photo.filename }}" class="photo__trigger" data-fancybox="{{ gallerySlug }}"></a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row page-tools">
        <div class="col col--full">
            <div class="page-tools__wrapper">
                <a href="#" class="button button--blue back-button">Tillbaka</a>
            </div>
        </div>
    </div>
{% endif %}
