{% if page.galleries %}
    {% for gallerySlug in page.galleries %}
        {% assign gallery = site.data.galleries[gallerySlug] %}
        <div class="row">
            <div class="col col--full card card--shadow">
                <div class="card__body">
                    {% if gallery.contents %}
                        {% assign photos = gallery.contents %}
                        <div class="photo-gallery">
                            {% for photo in photos %}
                                {% capture photo_width %}{{ photo.width | times: 1.0 }}{% endcapture %}
                                {% capture photo_height %}{{ photo.height | times: 1.0 }}{% endcapture %}
                                {% capture ratio_height %}{{ photo_height | divided_by: photo_width | times: 100 }}{% endcapture %}
                                <div class="photo" style="background-image: url({{site.baseurl}}/assets/photos/galleries/medium/{{ gallerySlug }}/{{ photo.filename }}); padding-bottom: {{ ratio_height }}%;">
                                    <div class="photo__data-trigger">Info</div>
                                    <div class="photo__data">
                                        {% if photo.title %}
                                            <h4 class="photo__title data__post">
                                                "{{ photo.title }}"
                                            </h4>
                                        {% endif %}
                                        {% if photo.date %}
                                            <div class="data__post">
                                                <span class="label">Date</span>
                                                <span class="value">{{ photo.date | date: "%Y-%m-%d" }}</span>
                                            </div>
                                        {% endif %}
                                        {% if photo.camera %}
                                            <div class="data__post">
                                                <span class="label">Camera</span>
                                                <span class="value">{{ photo.camera }}</span>
                                            </div>
                                        {% endif %}
                                        {% if photo.lens %}
                                            <div class="data__post">
                                                <span class="label">Lens</span>
                                                <span class="value">{{ photo.lens }}</span>
                                            </div>
                                        {% endif %}
                                        {% if photo.iso %}
                                            <div class="data__post">
                                                <span class="label">ISO</span>
                                                <span class="value">{{ photo.iso }}</span>
                                            </div>
                                        {% endif %}
                                        {% if photo.shutter %}
                                            <div class="data__post">
                                                <span class="label">Shutter</span>
                                                <span class="value">{{ photo.shutter }}</span>
                                            </div>
                                        {% endif %}
                                        {% if photo.aperture %}
                                            <div class="data__post">
                                                <span class="label">Aperture</span>
                                                <span class="value">f/{{ photo.aperture }}</span>
                                            </div>
                                        {% endif %}
                                        {% if photo.focal %}
                                            <div class="data__post">
                                                <span class="label">Focal</span>
                                                <span class="value">{{ photo.focal }}mm</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a href="{{ site.baseurl }}/assets/photos/galleries/large/{{ gallerySlug }}/{{ photo.filename }}" class="photo__trigger" data-fancybox="{{ gallerySlug }}"></a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
