{% assign post_counter = 0 %}
{% assign limit = include.limit | default: 0 %}

{% if limit == 0 %}
    {% assign limit = site.posts | size %}
{% endif %}

{% assign blog_posts = site.posts %}
{% for post in blog_posts %}
    {% unless post.draft %}
        {% unless post.categories contains "Fotoblogg" %}
            {% assign post_counter = post_counter | plus:1 %}
            {% if post_counter <= limit %}
                <div class="col col--1-3 card ">
                    <div class="card__body">
                        {% if post.title %}<h4 class="card__title{% if post.poster %} poster-title{% endif %}"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>{% endif %}

                        <div class="post-meta">
                            <div class="post-meta-section date">{% include datetime.liquid datetime=post.date %}</div>
                            {% if post.categories %}
                                <div class="post-meta-section categories">
                                    <ul>
                                        {% for category in post.categories %}
                                            <li><a href="/category/{{ category | slugify: 'pretty' }}" class="category">{{ category }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if post.tags %}
                                <div class="post-meta-section tags">
                                    <ul>
                                        {% for tag in post.tags %}
                                            <li><a href="/tags/#{{ tag | slugify: 'pretty' }}" class="tag">{{ tag }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                        {% if post_counter <= site.featured_posts %}
                            {% assign post_content = post.content | strip_newlines %}
                            {% comment %} {{ post.excerpt | markdownify }} {% endcomment %}
                            {{ post.content | strip_html | truncatewords: 20 }}
                            {% if post_content != '' %}
                                <div class="card__cta">
                                    <a href="{{ site.baseurl }}{{ post.url }}" class="button button--green">Läs artikeln</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endunless %}
    {% endunless %}
{% endfor %}
