---
layout: default
---

{% include hero.liquid %}

{% if site.site_open and page.page_open != false  %}
    <section class="section section--default">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--ghost">
                    <div class="card__body">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--photo">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--rogue">
                    <div class="card__body">
                        <h2 class="section__header"><a href="{{ site.baseurl }}photo">Fotobloggen</a></h2>
                        <p>
                            I fotobloggen lägger jag upp inlägg med foton. Här är de tre senaste inläggen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in site.posts limit:3 %}
                    {% assign post_categories = post.categories | downcase %}
                    {% if post.galleries or post_categories contains layout.category_filter %}
                        {% unless post.draft %}
                            <div class="col col--1-3 card">
                                <div class="card__poster">
                                    {% for gallerySlug in post.galleries %}
                                        {% assign gallery = site.data.galleries[gallerySlug] %}
                                        {% if gallery.contents %}
                                            {% assign photos = gallery.contents %}
                                            {% for photo in photos limit:1 %}
                                                <a href="{{ site.baseurl }}{{ post.url }}">
                                                    <div class="photo" style="background-image: url({{site.baseurl}}/assets/photos/galleries/{{ gallerySlug }}/{{ photo.filename }});"></div>
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="card__body">
                                    <h3 class="card__title">
                                        <a href="{{ site.baseurl }}{{ post.url }}">
                                            {{ post.title }}
                                        </a>
                                    </h3>
                                    <div class="card__date">{% include datetime.liquid datetime=post.date %}</div>
                                    {{ post.content | strip_html | truncatewords: 20 }}
                                </div>
                            </div>
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col col--full card card--ghost">
                    <div class="card__body">
                        Se alla inlägg i <a href="{{ site.baseurl }}/photo">fotobloggen</a>.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--misc">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--ghost">
                    <div class="card__body">
                        <h3 class="section__header">Oh, btw...</h3>
                        <p>
                            Do you code? Using
                            <a href="https://code.visualstudio.com" target="_blank">Visual Studio Code</a>?
                            <br> I've made a couple of themes. Go grab them at
                            <a href="https://marketplace.visualstudio.com/search?term=publisher%3A%22Per%20Ragnar%20Edin%22&target=VSCode&category=All%20categories&sortBy=Relevance"
                                target="_blank">Visual Studio Marketplace</a>. Here's
                            <strong>September Steel</strong> and
                            <strong>Light+ Tweaked</strong>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col--1-2 card card--ghost">
                    <div class="card__body">
                        <h4>September Steel</h4>
                        <a href="https://marketplace.visualstudio.com/items?itemName=perragnaredin.september-steel" target="_blank" class="silent">
                            <img src="https://raw.githubusercontent.com/perragnar/september-steel/master/images/screenshots/syntax-javascript.png" alt="September Steel">
                        </a>
                        <img src="https://vsmarketplacebadge.apphb.com/installs-short/perragnaredin.september-steel.svg" alt="Installs" />
                    </div>
                </div>
                <div class="col col--1-2 card card--ghost">
                    <div class="card__body">
                        <h4>Light+ Tweaked</h4>
                        <a href="https://marketplace.visualstudio.com/items?itemName=perragnaredin.light-plus-tweaked" target="_blank" class="silent">
                            <img src="https://raw.githubusercontent.com/perragnar/light-plus-tweaked/master/images/screenshots/screenshot-01.png" alt="Light+ Tweaked">
                        </a>
                        <img src="http://vsmarketplacebadge.apphb.com/installs-short/perragnaredin.light-plus-tweaked.svg" alt="Installs" />
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    {% include closed.liquid %}
{% endif %}
