{% assign current_page = paginator.page | times: 1 %}

<!DOCTYPE html>
<html lang="sv">

<head itemscope itemtype="https://schema.org/WebSite">
    <title itemprop="name">{% if page.seo-title %}{{ page.seo-title }}{% else %}{{ site.title }}{% endif %}{% if current_page > 1 %} - sida {{ current_page }}{% endif %}</title>
    <meta name="description" content="{% if page.seo-description %}{{ page.seo-description }}{% else %}{{ site.description }}{% endif %}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    {% comment %} <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bc9831fddd6040011604e50&product=inline-share-buttons' async='async'></script> {% endcomment %}
    {% if site.google_analytics_id %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics_id }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
</head>

<body>
    <div id="app" class="app">
        {% include header.liquid %}
        {{ content }}
        {% include footer.liquid %}
    </div>
    
    <audio id="audio-camera-shutter" src="{{ site.baseurl }}/assets/sounds/camera-shutter-click-03.mp3"></audio>

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script async type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>
