---
layout: default
---

{% include minihero.liquid %}

{% if site.site_open and page.page_open != false  %}
    <section class="section section--photo">
        <div class="slice">
            <div class="row">
                <div class="col col--2-3 card card--ghost">
                    <div class="card__body">
                        {% if page.title %}
                            <h1 class="section__header">{{ page.title }}</h1>
                        {% endif %}
                        {{ page.excerpt | markdownify }}
                    </div>
                </div>
                <div class="col col--1-3 card card--ghost card--no-padding">
                    <div class="card__body card__body-no-padding">
                        <a href="{{ site.baseurl }}/assets/img/pr-camera-hd.jpg" class="photo__trigger" data-fancybox="">
                            <img src="{{ site.baseurl }}/assets/img/pr-camera.jpg" class="corners--rounded" alt="Per Ragnar Edin">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--default">
        <div class="slice">
            <div class="row">
                <div class="col col--full card card--ghost">
                    <div class="card__body">
                        {{ content | remove: page.excerpt }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include gallerylist.liquid %}
{% else %}
    {% include closed.liquid %}
{% endif %}
